<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <!-- <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap" rel="stylesheet">
    <style>
    </style>-->
</head>
<body>
    <h1>Contact Information</h1>
    <h3>Don't ever contact us, thank you!</h3>
    Here's a table of cats instead:
    <table cellpadding="7" border="3" rules="all">
    <tr>
        <td><img src="https://i.pinimg.com/736x/82/15/f5/8215f5db63152faa4de683ca19aa3df8.jpg"
                 width="150" alt="кот 1.png"></td>
        <td><img src="https://img-webcalypt.ru/uploads/admin/images/meme-templates/Y0P67BNuicadsMPSxN6z3kon4HjST3mx.jpg"
                 width="150" alt="кот 2.png"></td>
        <td><img
                src="https://news.store.rambler.ru/img/672e5f7081bbc3d9746ee83dd6230ff0?img-format=auto&img-1-resize=height:400,fit:max&img-2-filter=sharpen"
                width="150" alt="кот 3.png"></td>
    </tr>
    <tr>
        <td><img
                src="https://ru.meming.world/images/ru/thumb/7/73/%D0%A8%D0%B0%D0%B1%D0%BB%D0%BE%D0%BD_%D0%BA%D0%BE%D1%82.jpg/300px-%D0%A8%D0%B0%D0%B1%D0%BB%D0%BE%D0%BD_%D0%BA%D0%BE%D1%82.jpg"
                width="150" alt="кот 4.png"></td>
        <td><img src="https://cdn.kanobu.ru/articles/pics/46483b74-a92c-4be6-b96a-668e12c1238d.jpg"
                 width="150" alt="кот 5.png"></td>
        <td><img src="https://cs12.pikabu.ru/post_img/2021/04/09/4/1617943146148483939.jpg"
                 width="150" alt="кот 6.png"></td>
    </tr>
    </table>
    <a href="/">Home Page</a>
    <!-- <script src="script.js"></script>-->
</body>
</html>

