<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Funny Form</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <!-- <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap" rel="stylesheet">
    <style>
    </style>-->
</head>
<body>
    <h1 class="funny-title">😄 Enter Your Details! 🦄</h1>
    <form action="/submit" method="POST" class="funny-form">
        <label for="name">Your Super Cool Name:</label>
        <input type="text" id="name" name="name" required><br><br>
        <label for="color">Your Favorite Color:</label>
        <input type="color" id="color" name="color" required><br><br>
        <label for="profession">Your Profession:</label>
        <select id="profession" name="profession">
            <option value="developer">🔹 Developer 🔹</option>
            <option value="designer">🔹 Designer 🔹</option>
            <option value="manager">🔹 Manager 🔹</option>
        </select><br>
        <p>Your Hobbies:</p>
        <label class="checkbox">
            <input class="checkbox-input" type="checkbox" name="hobbies" value="books">
            <div class="checkbox-new" aria-hidden="true">
              <div class="checkbox-new_checked">⭐</div>
            </div>
            <span class="checkbox-label">Books</span>
        </label>
        <label class="checkbox">
            <input class="checkbox-input" type="checkbox" name="hobbies" value="sports">
            <div class="checkbox-new" aria-hidden="true">
              <div class="checkbox-new_checked">⭐</div>
            </div>
            <span class="checkbox-label">Sports</span>
        </label>
        <label class="checkbox">
            <input class="checkbox-input" type="checkbox" name="hobbies" value="games">
            <div class="checkbox-new" aria-hidden="true">
              <div class="checkbox-new_checked">⭐</div>
            </div>
            <span class="checkbox-label">Games</span>
        </label>
        <p>Your Level:</p>
        <label class="radio">
            <input class="radio-input" type="radio" name="level" value="beginner" checked>
            <div class="radio-new" aria-hidden="true">
              <div class="radio-new_checked">⚡</div>
            </div>
            <span class="radio-label">Beginner</span>
        </label>
        <label class="radio">
            <input class="radio-input" type="radio" name="level" value="advanced">
            <div class="radio-new" aria-hidden="true">
              <div class="radio-new_checked">⚡</div>
            </div>
            <span class="radio-label">Advanced</span>
        </label><br>
        <button type="submit" class="funny-button">🚀 Let's Go!</button>
        <div id="secret-message" class="hide"><br>Поздравляю, вы обнаружили секретную мини-игру! ▶ <a href="/game">Играть</a> ◀ </div>
    </form>
    <button id="secret-button" class="funny-button">Нажми меня</button>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <!-- <script src="script.js"></script>-->
</body>
</html>

