<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/game.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container bordered">
        <div class="display">
            <div class="display-window">
                <div id="map1">
                    <img src="{{ url_for('static', filename='img/backgrounds/map1.png') }}" alt="фон 1">
                    <img src="{{ url_for('static', filename='img/arrows/arrow1.png') }}" alt="стрелка вперёд" class="interactable" id="map1-map6">
                    <img src="{{ url_for('static', filename='img/arrows/arrow2.png') }}" alt="стрелка налево" class="interactable" id="map1-map2">
                    <img src="{{ url_for('static', filename='img/arrows/arrow3.png') }}" alt="стрелка направо" class="interactable" id="map1-map3">
                    <img src="{{ url_for('static', filename='img/arrows/arrow1.png') }}" alt="блок" class="interactable" id="block16">
                    <div class="interactable" id="chest1">
                        <div class="tooltip">
                            <img src="{{ url_for('static', filename='img/chests/chest1.png') }}" alt="сундук 1">
                            <span class="tooltiptext">Кликните, чтобы открыть сундук</span>
                        </div>
                    </div>
                </div>
                <div class="hide" id="map2">
                    <img src="{{ url_for('static', filename='img/backgrounds/map2.png') }}" alt="фон 2">
                    <div class="interactable" id="chest2">
                        <div class="tooltip">
                            <img src="{{ url_for('static', filename='img/chests/chest2.png') }}" alt="сундук 2">
                            <span class="tooltiptext">Кликните, чтобы открыть сундук</span>
                        </div>
                    </div>
                    <div class="interactable" id="enemy1">
                        <div class="tooltip">
                            <img src="{{ url_for('static', filename='img/battle/enemy1.png') }}" alt="враг 1">
                            <span class="tooltiptext">Враг 1 уровня. Кликните, чтобы вступить в бой</span>
                        </div>
                    </div>
                    <img src="{{ url_for('static', filename='img/arrows/arrow7.png') }}" alt="стрелка назад" class="interactable" id="map2-map1">
                </div>
                <div class="hide" id="map3">
                    <img src="{{ url_for('static', filename='img/backgrounds/map3.png') }}" alt="фон 3">
                    <div class="interactable" id="stick_button">
                        <div class="tooltip">
                            <img src="{{ url_for('static', filename='img/chests/stick.png') }}" alt="ветка">
                            <span class="tooltiptext">Кликните, чтобы подобрать</span>
                        </div>
                    </div>
                    <div class="interactable" id="enemy2">
                        <div class="tooltip">
                            <img src="{{ url_for('static', filename='img/battle/enemy2.png') }}" alt="враг 2">
                            <span class="tooltiptext">Враг 3 уровня. Кликните, чтобы вступить в бой</span>
                        </div>
                    </div>
                    <img src="{{ url_for('static', filename='img/arrows/arrow6.png') }}" alt="стрелка вперёд" class="interactable" id="map3-map4">
                    <img src="{{ url_for('static', filename='img/arrows/arrow6.png') }}" alt="блок" class="interactable" id="block34">
                    <img src="{{ url_for('static', filename='img/arrows/arrow7.png') }}" alt="стрелка назад" class="interactable" id="map3-map1">
                </div>
                <div class="hide" id="map4">
                    <img src="{{ url_for('static', filename='img/backgrounds/map4.png') }}" alt="фон 4">
                    <img src="{{ url_for('static', filename='img/arrows/arrow7.png') }}" alt="стрелка назад" class="interactable" id="map4-map3">
                    <div class="interactable" id="chest3">
                        <div class="tooltip">
                            <img src="{{ url_for('static', filename='img/chests/chest3.png') }}" alt="сундук 3">
                            <span class="tooltiptext">Кликните, чтобы открыть сундук</span>
                        </div>
                    </div>
                    <div class="interactable" id="chest4">
                        <div class="tooltip">
                            <img src="{{ url_for('static', filename='img/chests/chest4.png') }}" alt="сундук 4">
                            <span class="tooltiptext">Кликните, чтобы открыть сундук</span>
                        </div>
                    </div>
                </div>
                <div class="hide" id="map6">
                    <img src="{{ url_for('static', filename='img/backgrounds/map6.png') }}" alt="фон 6">
                    <div class="interactable" id="cabbage-stall2">
                        <div class="tooltip">
                            <img src="{{ url_for('static', filename='img/chests/cabbage_stall2.png') }}" alt="ларёк с капустой">
                            <span class="tooltiptext">Ларёк с капустой</span>
                        </div>
                    </div>
                    <div class="interactable" id="cabbage-stall">
                        <div class="tooltip">
                            <img src="{{ url_for('static', filename='img/chests/cabbage_stall.png') }}" alt="ларёк с капустой и продавцом">
                            <span class="tooltiptext">Ларёк с капустой</span>
                        </div>
                    </div>
                    <img src="{{ url_for('static', filename='img/arrows/arrow5.png') }}" alt="стрелка налево" class="interactable" id="map6-map11">
                    <img src="{{ url_for('static', filename='img/arrows/arrow6.png') }}" alt="стрелка направо" class="interactable" id="map6-map7">
                    <img src="{{ url_for('static', filename='img/arrows/arrow7.png') }}" alt="стрелка назад" class="interactable" id="map6-map1">
                </div>
                <div class="hide" id="map7">
                    <img src="{{ url_for('static', filename='img/backgrounds/map7.png') }}" alt="фон 7">
                    <img src="{{ url_for('static', filename='img/arrows/arrow6.png') }}" alt="стрелка вперёд" class="interactable" id="map7-map8">
                    <img src="{{ url_for('static', filename='img/arrows/arrow7.png') }}" alt="стрелка назад" class="interactable" id="map7-map6">
                </div>
                <div class="hide" id="map8">
                    <img src="{{ url_for('static', filename='img/backgrounds/map8.png') }}" alt="фон 8">
                    <div class="interactable" id="enemy3">
                        <div class="tooltip">
                            <img src="{{ url_for('static', filename='img/battle/enemy3.png') }}" alt="враг 3">
                            <span class="tooltiptext">Враг 9 уровня. Кликните, чтобы вступить в бой</span>
                        </div>
                    </div>
                    <img src="{{ url_for('static', filename='img/arrows/arrow2.png') }}" alt="стрелка налево" class="interactable" id="map8-map10">
                    <img src="{{ url_for('static', filename='img/arrows/arrow3.png') }}" alt="стрелка направо" class="interactable" id="map8-map9">
                    <img src="{{ url_for('static', filename='img/arrows/arrow3.png') }}" alt="блок" class="interactable" id="block89">
                    <img src="{{ url_for('static', filename='img/arrows/arrow7.png') }}" alt="стрелка назад" class="interactable" id="map8-map7">
                </div>
                <div class="hide" id="map9">
                    <img src="{{ url_for('static', filename='img/backgrounds/map9.png') }}" alt="фон 9">
                    <div class="interactable" id="final_chest">
                        <div class="tooltip">
                            <img src="{{ url_for('static', filename='img/chests/final_chest.png') }}" alt="финальный сундук">
                            <span class="tooltiptext">Кликните, чтобы открыть сундук</span>
                        </div>
                    </div>
                    <img src="{{ url_for('static', filename='img/arrows/arrow7.png') }}" alt="стрелка назад" class="interactable" id="map9-map8">
                </div>
                <div class="hide" id="map10">
                    <img src="{{ url_for('static', filename='img/backgrounds/map10.png') }}" alt="фон 10">
                    <div class="interactable" id="chest5">
                        <div class="tooltip">
                            <img src="{{ url_for('static', filename='img/chests/chest5.png') }}" alt="сундук 5">
                            <span class="tooltiptext">Кликните, чтобы открыть сундук</span>
                        </div>
                    </div>
                    <div class="interactable" id="enemy4">
                        <div class="tooltip">
                            <img src="{{ url_for('static', filename='img/battle/enemy4.png') }}" alt="враг 4" style="width: 56px;">
                            <span class="tooltiptext">Враг 5 уровня. Кликните, чтобы вступить в бой</span>
                        </div>
                    </div>
                    <img src="{{ url_for('static', filename='img/arrows/arrow3.png') }}" alt="стрелка направо" class="interactable" id="map10-map8">
                </div>
                <div class="hide" id="map11">
                    <img src="{{ url_for('static', filename='img/backgrounds/map11.png') }}" alt="фон 11">
                    <img src="{{ url_for('static', filename='img/backgrounds/map11_.png') }}" alt="фон 11 без моста" id="bridge">
                    <img src="{{ url_for('static', filename='img/arrows/arrow1.png') }}" alt="стрелка вперёд" class="interactable" id="map11-map12">
                    <img src="{{ url_for('static', filename='img/arrows/arrow1.png') }}" alt="блок" class="interactable" id="block1112">
                    <img src="{{ url_for('static', filename='img/arrows/arrow7.png') }}" alt="стрелка назад" class="interactable" id="map11-map6">
                </div>
                <div class="hide" id="map12">
                    <img src="{{ url_for('static', filename='img/backgrounds/map12.png') }}" alt="фон 12">
                    <img src="{{ url_for('static', filename='img/arrows/arrow2.png') }}" alt="стрелка налево" class="interactable" id="map12-map13">
                    <img src="{{ url_for('static', filename='img/arrows/arrow3.png') }}" alt="стрелка направо" class="interactable" id="map12-map14">
                    <img src="{{ url_for('static', filename='img/arrows/arrow7.png') }}" alt="стрелка назад" class="interactable" id="map12-map11">
                </div>
                <div class="hide" id="map13">
                    <img src="{{ url_for('static', filename='img/backgrounds/map13.png') }}" alt="фон 13">
                    <img src="{{ url_for('static', filename='img/arrows/arrow3.png') }}" alt="стрелка направо" class="interactable" id="map13-map12">
                    <div class="interactable" id="chest6">
                        <div class="tooltip">
                            <img src="{{ url_for('static', filename='img/chests/chest6.png') }}" alt="сундук 6">
                            <span class="tooltiptext">Кликните, чтобы открыть сундук</span>
                        </div>
                    </div>
                    <div class="interactable" id="sword_button">
                        <div class="tooltip">
                            <img src="{{ url_for('static', filename='img/chests/sword.png') }}" alt="меч">
                            <span class="tooltiptext">Кликните, чтобы взять</span>
                        </div>
                    </div>
                </div>
                <div class="hide" id="map14">
                    <img src="{{ url_for('static', filename='img/backgrounds/map14.png') }}" alt="фон 14">
                    <img src="{{ url_for('static', filename='img/chests/carpet.png') }}" alt="ковёр" class="interactable" id="carpet">
                    <img src="{{ url_for('static', filename='img/arrows/arrow2.png') }}" alt="стрелка налево" class="interactable" id="map14-map12">
                    <img src="{{ url_for('static', filename='img/arrows/arrow4.png') }}" alt="стрелка вниз" class="interactable hide" id="map14-map15">
                </div>
                <div class="hide" id="map15">
                    <img src="{{ url_for('static', filename='img/backgrounds/map15.png') }}" alt="фон 15">
                    <div class="interactable" id="chest8">
                        <div class="tooltip">
                            <img src="{{ url_for('static', filename='img/chests/chest8.png') }}" alt="сундук 8">
                            <span class="tooltiptext">Кликните, чтобы открыть сундук</span>
                        </div>
                    </div>
                    <div class="interactable" id="final_boss">
                        <div class="tooltip">
                            <img src="{{ url_for('static', filename='img/battle/dragon.png') }}" alt="дракон">
                            <span class="tooltiptext">Финальный босс! Кликните, чтобы вступить в бой</span>
                        </div>
                    </div>
                    <img src="{{ url_for('static', filename='img/arrows/arrow7.png') }}" alt="стрелка назад" class="interactable" id="map15-map14">
                </div>
            </div>
            <div class="side-bar">
                <p class="stats-title">Характеристики:</p>
                <div class="stats bordered">
                    <p>Здоровье: <span id="health">24</span> / <span id="max-health">24</span></p>
                    <p>Сила атаки: <span id="strength">10</span></p>
                    <p>Защита: <span id="defense">6</span></p>
                    <p>Уровень: <span id="level">1</span></p>
                </div>
                <p class="inventory-title">Инвентарь:</p>
                <div class="inventory bordered">
                    <img src="{{ url_for('static', filename='img/items/18.png') }}" alt="список задач" class="interactable backlight hide" id="task-list">
                    <img src="{{ url_for('static', filename='img/items/19.png') }}" alt="хилка" class="interactable backlight hide" id="heal1">
                    <img src="{{ url_for('static', filename='img/items/19.png') }}" alt="хилка" class="interactable backlight hide" id="heal2">
                    <img src="{{ url_for('static', filename='img/items/20.png') }}" alt="ветка" class="hide" id="stick">
                    <img src="{{ url_for('static', filename='img/items/21.png') }}" alt="щит" class="hide" id="shield">
                    <img src="{{ url_for('static', filename='img/items/22.png') }}" alt="монеты" class="hide" id="money">
                    <img src="{{ url_for('static', filename='img/items/19.png') }}" alt="хилка" class="interactable backlight hide" id="heal3">
                    <img src="{{ url_for('static', filename='img/items/23.png') }}" alt="меч" class="hide" id="sword">
                    <img src="{{ url_for('static', filename='img/items/19.png') }}" alt="хилка" class="interactable backlight hide" id="heal4">
                    <img src="{{ url_for('static', filename='img/items/24.png') }}" alt="кочан капусты" class="hide" id="cabbage">
                    <img src="{{ url_for('static', filename='img/items/25.png') }}" alt="ключ" class="hide" id="key">
                    <img src="{{ url_for('static', filename='img/items/26.png') }}" alt="много капусты" class="hide" id="more-cabbage">
                </div>
            </div>
        </div>
        <div class="text-container">
            <div id="text">Ваша миссия: найти и победить дракона, а также восстановить справедливость. Вы стоите на распутье. Что дальше?<br></div>
            <div class="scroll-bottom"></div>
        </div>
        <div class="md-modal md-effect-1" id="general-notification">
            <div class="notification-content bordered">
                <br>
                <p id="general-notification-text"></p>
                <button id="close-general-notification">Понятно</button>
                <button id="pay-button" class="hide">Заплатить горсть монет</button>
                <button id="key-button" class="hide">Использовать таинственный ключ</button>
                <button id="final-button" class="hide">Ура!</button>
            </div>
        </div>
        <div class="md-modal md-effect-1" id="item-notification">
            <div class="notification-content bordered">
                <h1>Вы получили:</h1>
                <div>
                    <p id="item-notification-item"></p>
                    <img src="" alt="картинка предмета" id="notification-img">
                    <p id="item-notification-text"></p>
                    <button id="close-item-notification">Ок</button>
                </div>
            </div>
        </div>
        <div class="md-modal md-effect-1" id="question-notification">
            <div class="notification-content bordered">
                <br>
                <p id="question-notification-text"></p>
                <button id="yes-button">Да</button>
                <button id="no-button">Нет</button>
            </div>
        </div>
        <div class="md-modal md-effect-1" id="task-manager">
            <div class="notification-content bordered">
                <br>
                <h1>Задачи:</h1>
                <ul>
                    <li class="hide" id="task1">Найти деньги, чтобы заплатить за вход в деревню</li>
                    <li class="hide" id="task2">Найти какое-нибудь оружие</li>
                    <li class="hide" id="task3">Повысить уровень</li>
                    <li class="hide" id="task4">Победить врага 3 уровня и открыть проход в лес</li>
                    <li class="hide" id="task5">Повысить уровень до 7</li>
                    <li class="hide" id="task6">Победить врага 9 уровня и открыть проход в пещеру</li>
                    <li id="task7">Сразиться с драконом</li>
                    <li class="hide" id="task8">Найти способ победить дракона</li>
                    <li class="hide" id="task9">Найти ключ от таинственного сундука</li>
                    <li id="task10">Восстановить справедливость</li>
                </ul>
                <button id="close-button">Закрыть</button>
            </div>
        </div>
        <div class="md-overlay"></div>
        <div class="md-modal md-effect-5" id="battle-display">
            <div class="battle-content bordered">
                <h1>Бой!</h1>
                <div id="vs-screen">
                    <div class="battle-window">
                        <div class="me">
                            <img src="{{ url_for('static', filename='img/battle/you.png') }}" alt="юзер пнг">
                            <div class="my-progress-bar">
                            <div class="progress" id="my-health-bar"></div>
                        </div>
                        </div>
                        <div class="enemy">
                            <img src="{{ url_for('static', filename='img/battle/enemy1.png') }}" alt="картинка врага" id="enemy-img">
                            <div class="enemy-progress-bar">
                            <div class="progress" id="enemy-health-bar"></div>
                        </div>
                            <button id="attack-button">Атаковать</button>
                            <button id="pacify-button" class="hide">Предложить кочан капусты</button>
                        </div>
                        <div id="my-attack">></div>
                        <div id="enemy-damage"></div>
                        <div id="enemy-attack"><</div>
                        <div id="my-damage"></div>
                    </div>
                </div>
                <p id="battle-end-text" class="hide"></p>
                <button id="close" class="hide">Ок</button>
            </div>
        </div>
        <div class="battle-overlay"></div>
        <div id="big-block" class="hide"></div>
        <div class="md-modal1 bordered md-effect-11 md-show" id="start-screen">
            <div class="md-content">
                <button id="start-button">Начать игру</button>
            </div>
        </div>
    </div>
    <button id="restart-button">Перезапустить игру</button>
    <button id="back-button"><a href="/">Вернуться к форме (прогресс игры будет потерян)</a></button>
    <script src="{{ url_for('static', filename='js/game.js') }}"></script>
</body>
</html>

